<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<servlet>
		<servlet-name>CoreService</servlet-name>
		<servlet-class>eg.net.lanNansahom.server.CoreServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AdministrationRemoteService</servlet-name>
		<servlet-class>eg.net.lanNansahom.server.AdministrationRemoteServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>eg.net.gxt.server.UploadServlet</servlet-class>
		<init-param>
			<param-name>baseDirectory</param-name>
			<param-value>images</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ExportServlet</servlet-name>
		<servlet-class>eg.net.lanNansahom.server.ExportServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CoreService</servlet-name>
		<url-pattern>/BackEnd/core</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AdministrationRemoteService</servlet-name>
		<url-pattern>/BackEnd/administration</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ExportServlet</servlet-name>
		<url-pattern>/export</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>BackEnd.html</welcome-file>
	</welcome-file-list>

    <!-- Define a Security Constraint on this Application -->  
   
      <security-constraint>
	      <web-resource-collection>
	         <web-resource-name>lannansahom_administration</web-resource-name>
	         <url-pattern>/*</url-pattern>
	         <http-method>GET</http-method>
	         <http-method>POST</http-method>
	      </web-resource-collection>
	      <auth-constraint>
	           <role-name>lannansahom_administrators</role-name>
	     </auth-constraint>
	      <user-data-constraint>
	         <transport-guarantee>NONE</transport-guarantee>
	      </user-data-constraint>
   </security-constraint>
 
	<!-- Define the Login Configuration for this Application -->
   <login-config>
      <auth-method>DIGEST</auth-method>
      <realm-name>lannansahom</realm-name>
   </login-config>
     
	<security-role>
            <description>lannansahom_administrators</description>
            <role-name>lannansahom_administrators</role-name>      
      </security-role>
</web-app>
