<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- global-services.xml -->
	<bean id="baseServices" class="eg.net.lanNansahom.webservices.impl.BaseServicesImpl"
		scope="singleton" lazy-init="true"/>
	<bean id="materialsAdministrationService"
		class="eg.net.lanNansahom.webservices.impl.MaterialsAdministrationServiceImpl"
		scope="singleton" lazy-init="true" />
	<bean id="VictimsAdministrationService"
		class="eg.net.lanNansahom.webservices.impl.VictimsAdministrationServiceImpl"
		scope="singleton" lazy-init="true" />
	<bean id="VictimsService" class="eg.net.lanNansahom.webservices.impl.VictimsServiceImpl"
		scope="singleton" lazy-init="true"></bean>

	<!-- services.xml -->
	<bean id="retrieveAllLookupService" class="eg.net.lanNansahom.services.RetrieveAllLookupService"
		scope="singleton" lazy-init="true" />

	<bean id="addAnnouncementService" class="eg.net.lanNansahom.services.AddAnnouncementService"
		scope="singleton" lazy-init="true" />
	<bean id="updateAnnouncementService" class="eg.net.lanNansahom.services.UpdateAnnouncementService"
		scope="singleton" lazy-init="true" />
	<bean id="retrieveAnnouncementsService"
		class="eg.net.lanNansahom.services.RetrieveAnnouncementsService"
		scope="singleton" lazy-init="true" />

	<bean id="addVictimService" class="eg.net.lanNansahom.services.AddVictimService"
		scope="singleton" lazy-init="true" />
	<bean id="updateVictimService" class="eg.net.lanNansahom.services.UpdateVictimService"
		scope="singleton" lazy-init="true" />
	<bean id="deleteVictimsService" class="eg.net.lanNansahom.services.DeleteVictimsService"
		scope="singleton" lazy-init="true" />
	<bean id="searchVictimsService" class="eg.net.lanNansahom.services.SearchVictimsService"
		scope="singleton" lazy-init="true" />

	<bean id="retrieveAllMartyrsService" class="eg.net.lanNansahom.services.RetrieveAllMartyrsService"
		scope="singleton" lazy-init="true" />
	<bean id="retrieveAllInjuriesService" class="eg.net.lanNansahom.services.RetrieveAllInjuriesService"
		scope="singleton" lazy-init="true"/>
	<bean id="searchPublishedVictimsService"
		class="eg.net.lanNansahom.services.SearchPublishedVictimsService"
		scope="singleton" lazy-init="true" />
	<bean id="retrieveVictimService" class="eg.net.lanNansahom.services.RetrieveVictimService"
		scope="singleton" lazy-init="true" />

	<bean id="addLookupService" class="eg.net.lanNansahom.services.AddLookupService"
		scope="singleton" lazy-init="true" />
	<bean id="updateLookupService" class="eg.net.lanNansahom.services.UpdateLookupService"
		scope="singleton" lazy-init="true" />
	<bean id="searchLookupsService" class="eg.net.lanNansahom.services.SearchLookupsService"
		scope="singleton" lazy-init="true"/>


	<!-- businesses -->
	<bean id="AnnouncementBusiness"
		class="eg.net.lanNansahom.business.impl.AnnouncementBusinessImpl"
		scope="singleton"  lazy-init="true" />
	<bean id="lookupBusiness" class="eg.net.lanNansahom.business.impl.LookupBusinessImpl"
		scope="singleton" lazy-init="true"  />
	<bean id="VictimBusiness" class="eg.net.lanNansahom.business.impl.VictimBusinessImpl"
		scope="singleton" lazy-init="true" />

	<!-- data-access -->
	<bean id="LanNansahomDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.google.appengine.api.rdbms.AppEngineDriver" />
		<property name="url" value="jdbc:google:rdbms://lan-nansahom.org:test-lan-nansahom:lannansahom-db/lannansahom" />
		<property name="username" value="" />
		<property name="password" value="" />
		<!-- <property name="username" value="root" />
		<property name="password" value="123456" /> -->
	</bean>

	<bean id="SessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="LanNansahomDataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.bytecode.use_reflection_optimizer">false</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>eg/net/lanNansahom/datamodel/Relationship.hbm.xml</value>
				<value>eg/net/lanNansahom/datamodel/Announcement.hbm.xml</value>
				<value>eg/net/lanNansahom/datamodel/Video.hbm.xml</value>
				<value>eg/net/lanNansahom/datamodel/Area.hbm.xml</value>
				<value>eg/net/lanNansahom/datamodel/Job.hbm.xml</value>
				<value>eg/net/lanNansahom/datamodel/Hospital.hbm.xml</value>
				<value>eg/net/lanNansahom/datamodel/ImageCategory.hbm.xml</value>
				<value>eg/net/lanNansahom/datamodel/Image.hbm.xml</value>
				<value>eg/net/lanNansahom/datamodel/Article.hbm.xml</value>
				<value>eg/net/lanNansahom/datamodel/VideoCategory.hbm.xml</value>
				<value>eg/net/lanNansahom/datamodel/Person.hbm.xml</value>
				<value>eg/net/lanNansahom/datamodel/Education.hbm.xml</value>
				<value>eg/net/lanNansahom/datamodel/Governrate.hbm.xml</value>
				<value>eg/net/lanNansahom/datamodel/Source.hbm.xml</value>
				<value>eg/net/lanNansahom/datamodel/RecordStatus.hbm.xml</value>
		   <!-- <value>eg/net/lanNansahom/datamodel/Court.hbm.xml</value>
				<value>eg/net/lanNansahom/datamodel/NewsletterMember.hbm.xml</value> 
			    <value>eg/net/lanNansahom/datamodel/Lawsuit.hbm.xml</value> 
			    <value>eg/net/lanNansahom/datamodel/CourtSession.hbm.xml</value>
				<value>eg/net/lanNansahom/datamodel/LawsuitLawyers.hbm.xml</value>
				<value>eg/net/lanNansahom/datamodel/LawOrganization.hbm.xml</value>
				
			    -->
	
			</list>
		</property>
		<property name="typeDefinitions">
			<list>
				<bean class="org.springframework.orm.hibernate3.TypeDefinitionBean">
					<property name="typeName" value="StringDateType" />
					<property name="typeClass"
						value="eg.net.lanNansahom.datamodel.StringDateType" />
					<property name="parameters">
						<props>
							<prop key="datePattern">dd-MM-yyyy</prop>
						</props>
					</property>
				</bean>
				<bean class="org.springframework.orm.hibernate3.TypeDefinitionBean">
					<property name="typeName" value="trimmedString" />
					<property name="typeClass"
						value="eg.net.lanNansahom.datamodel.TrimmedString" />
				</bean>
			</list>
		</property>
	</bean>

	<bean id="announcementDao" class="eg.net.lanNansahom.dao.impl.AnnouncementDaoImpl" lazy-init="true" >
		<property name="sessionFactory" ref="SessionFactory" />
	</bean>
	<bean id="martyrDaoImpl" class="eg.net.lanNansahom.dao.impl.MartyrDaoImpl" lazy-init="true" >
		<property name="sessionFactory" ref="SessionFactory"/>
	</bean>
	<bean id="injuredDaoImpl" class="eg.net.lanNansahom.dao.impl.InjuredDaoImpl" lazy-init="true" >
		<property name="sessionFactory" ref="SessionFactory" />
	</bean>
	<bean id="lookupDaoImpl" class="eg.net.lanNansahom.dao.impl.LookupDaoImpl" lazy-init="true" >
		<property name="sessionFactory" ref="SessionFactory" />
	</bean>


	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	<bean id="applicationContext" class="eg.net.lanNansahom.ApplicationContext"
		scope="singleton"></bean>

</beans>
